<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>

  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
       <!-- <clear /> -->
        <!-- For Example -->
        <!-- Important!!! Rule Name can't be repeated.  -->
        <!-- <rule name="Rewrite Resource Page" stopProcessing="true">
          <match url="about/index.html" />
          <action type="Rewrite" url="https://www.dynamsoft.com/web-twain/resources/" appendQueryString="true"  />
        </rule> -->

        <!-- <rule name="webp" stopProcessing="true">
          <match url="(.+)\.(jpe?g|png)$" />
          <serverVariables>
          </serverVariables>
          <action type="Rewrite" url="{R:1}.webp" />
          <conditions>
              <add input="{HTTP_ACCEPT}" pattern="image/webp" />
              <add input="{DOCUMENT_ROOT}/mobile-web-capture/docs/{R:1}.webp" matchType="IsFile" />
          </conditions>
        </rule> -->
        <!-- <rule name="Sample redirect from https://www.dynamsoft.com/{product-name}/docs/old.html to https://www.dynamsoft.com/{product-name}/docs/new.html" enabled="true" patternSyntax="ECMAScript">
          <match url="old.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="new.html" appendQueryString="false" logRewrittenUrl="false" /> -->
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>