<span class="fullVersionHistory">
    <ul class="fullVersionInfo">
        {%- if site.edition -%}
            {%- if site.edition == 'algorithm' -%}
                {%- assign validVerInfo = site.data.product_version.version_info_list_algorithm -%}
            {%- elsif site.edition == 'js' -%}
                {%- assign validVerInfo = site.data.product_version.version_info_list_js -%}
            {%- elsif site.edition == 'mobile' -%}
                {%- assign validVerInfo = site.data.product_version.version_info_list_mobile -%}
            {%- else -%}
                {%- assign validVerInfo = site.data.product_version.version_info_list_desktop -%}
            {%- endif -%}
        {%- else -%}
            {%- assign validVerInfo = site.data.product_version.version_info_list -%}
        {%- endif -%}
        
        {%- if site.data.product_version.useGroupedVersion -%}
            {%- for verInfo in validVerInfo -%}
                {%- assign curVerText = "" -%}
                {%- assign ver = verInfo.value | downcase | strip -%}
                {%- assign editions = "" -%}
                {%- if ver contains '_' -%}
                    {%- assign arr = ver | split: "_" -%}
                    {%- assign ver = arr.first -%}
                    {%- assign editions = ver | remove: arr.first | remove_first: '_' -%}
                {%- endif -%}
                {%- if ver contains "latest version"-%}
                    {%- assign curVerText = ver | capitalize -%}
                {%- else -%}
                    {%- assign curVerText = "Version " | append: ver -%}
                {%- endif -%}
                {%- if verInfo.child -%}
                <li class="hasChildLi" data-editions="{{editions}}">
                    <div>{{ curVerText }} <i class="icon-arrow"></i></div>
                    <ul>
                        {%- for childVersion in verInfo.child -%}
                            {%- assign curVerText = "" -%}
                            {%- assign c_version = childVersion | downcase | strip -%}
                            {%- assign c_editions = "" -%}
                            {%- if c_version contains '_' -%}
                                {%- assign arr = childVersion | split: "_" -%}
                                {%- assign c_version = arr.first -%}
                                {%- assign c_editions = childVersion | remove: arr.first | remove_first: '_' -%}
                            {%- endif -%}
                            {%- if c_version contains "latest version"-%}
                                {%- assign curVerText = c_version | capitalize -%}
                            {%- else -%}
                                {%- assign curVerText = "Version " | append: c_version -%}
                            {%- endif -%}
                            <li onclick="changeVersion(this)" data-editions="{{c_editions}}">{{ curVerText }}</li>
                        {%- endfor -%}
                    </ul>
                </li>
                {%- else -%}
                <li onclick="changeVersion(this)" data-editions="{{editions}}">{{ curVerText }}</li>
                {%- endif -%}
            {%- endfor -%}
        {%- else -%}
            {%- for verInfo in validVerInfo -%}
                {%- assign curVerText = "" -%}
                {%- assign verInfo = verInfo | downcase | strip -%}
                {%- if verInfo contains "latest version"-%}
                    {%- assign curVerText = verInfo | capitalize -%}
                {%- else -%}
                    {%- assign curVerText = "Version " | append: verInfo -%}
                {%- endif -%}
                <li onclick="changeVersion(this)">{{ curVerText }}</li>
            {%- endfor -%}
        {%- endif -%}

        {%- assign documentHomePage = "/capture-vision/docs/core/" -%}
        {%- if site.firstLevelUrl contains 'barcode-reader' -%}
        {%- assign documentHomePage = "/barcode-reader/docs/core/" -%}
        {%- endif -%}

        {%- unless site.firstLevelUrl contains 'mrz-scanner/docs' -%}
        <li><a href="{{documentHomePage}}" target="_blank" style="color: #323234!important;">Documentation Homepage</a></li>
        {%- endunless -%}
    </ul>
    <a class="fvChange fontOswald" href="javascript:;">Change +</a>
</span>
