<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="max-age=7200" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords }}" />

    {%- assign excludeFlag = false -%}
    {%- assign targetUrl = page.url -%}
    {%- if page.url contains '-v' -%}
	{%- assign candidateVersionStr = page.url |  split: '-v' -%}
	{%- for tmpStr in candidateVersionStr offset:1 -%}
		{%- assign tmpVer = tmpStr | split: '/' | first | replace: '.html', '' | strip -%}
		{%- capture firstChar -%}
			{{ tmpVer | truncate: 4 | replace:"...", "" }}
		{%- endcapture -%}
		{%- if firstChar >= "0" and firstChar <= "9" -%}
            {%- assign excludeFlag = true -%}
            {%- assign needRemoveStr = "-v" | append: tmpVer -%}
            {%- assign targetUrl = page.url | remove: needRemoveStr | strip -%}
			{%- break -%}
		{%- endif -%}
	{%- endfor -%}
    {%- endif -%}
    {%- assign targetUrl = targetUrl | replace: '/index.html', '/' | strip -%}

    {%- if page.ignore -%}
	    {%- assign excludeFlag = true -%}
    {%- endif -%}

    {%- if page.url contains 'search.html' or page.url contains 'search-test.html' -%}	
        {%- assign excludeFlag = true -%}
    {%- endif -%}

    {%- if excludeFlag -%}
    <meta name="robots" content="noindex">
    {%- endif -%}

    {%- assign docFullPath = site.docFullPath -%}
    {%- assign docFullPathLastChar = docFullPath | split:'' | last -%}
    {%- if docFullPathLastChar contains '/' -%}	
        {%- assign truncateDocHomePageSize = docFullPath | size | minus:1 -%}
        {%- assign docFullPath = docFullPath | slice: 0, truncateDocHomePageSize -%}
    {%- endif -%}
    <link href="{{ docFullPath }}{{ targetUrl }}" rel="canonical">

    {%- assign firstLevelUrl = site.firstLevelUrl -%}
	{%- assign firstLevelUrlLastChar = firstLevelUrl | split:'' | last -%}
	{%- if firstLevelUrlLastChar contains '/' -%}	
			{%- assign truncateDocHomePageSize = firstLevelUrl | size | minus:1 -%}
			{%- assign firstLevelUrl = firstLevelUrl | slice: 0, truncateDocHomePageSize -%}
	{%- endif -%}
    {%- assign assetsPath = 'https://www.dynamsoft.com/webres/wwwroot' -%}

    <link rel="preload" as="font" href="{{ site.assets }}font-face/Oswald-Regular.ttf" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ site.assets }}font-face/OpenSans-Regular.woff" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ site.assets }}font-face/fontawesome-webfont.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ site.assets }}font-face/Oswald-Light.ttf" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ site.assets }}font-face/OpenSans-Semibold.woff" type="font/woff" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ site.assets }}css/dm-style.min.css?v={{ 'now' | date: "%s"}}" />
    <link rel="stylesheet" href="{{ site.assets }}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ site.assets }}css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ assetsPath }}/css/docs/basis-bs.min.css?v={{ 'now' | date: "%s"}}" />
    <link rel="stylesheet" href="{{ assetsPath }}/css/header_bs.min.css" />
    <link rel="stylesheet" href="{{ assetsPath }}/css/docs/basis.min.css?v={{ 'now' | date: "%s"}}" />
    <link rel="stylesheet" href="{{ assetsPath }}/css/docs/footer.css" />

    {%- if site.searchIndexName or site.needSearchIndex -%}
    <script type="text/javascript" src="{{ assetsPath }}/lib/algolia/algoliasearch-lite.umd.js"></script>
    <script type="text/javascript" src="{{ assetsPath }}/lib/algolia/instantsearch.production.min.js"></script>
    <link rel="stylesheet" href="{{ assetsPath }}/lib/algolia/satellite.min.css">
    <link rel="stylesheet" href="{{ assetsPath }}/css/docs/algoliaSearch.css" />
    {%- endif -%}

    {%- if page.layout contains 'search-' -%}
    <link rel="stylesheet" href="{{ assetsPath }}/css/docs/searchPage.min.css" />
    {%- endif -%}

    {%- if page.layout contains 'home-page' -%}
    <link rel="stylesheet" href="{{ assetsPath }}/css/docs/homePage.min.css" />
    {%- endif -%}

    {%- assign showNoIndexStyle = false -%}
    {%- if page.noTitleIndex or page.url contains 'release-notes' -%}
        {%- assign showNoIndexStyle = true -%}
    {%- endif -%}
    {%- if site.docFullPath contains 'barcode-reader' or site.docFullPath contains 'web-twain' -%}
        {%- assign showNoIndexStyle = false -%}
    {%- endif -%}
    {%- if showNoIndexStyle -%}
        <style>
            .headCounter h2:before { content: ''!important; padding-right: 0px!important; }
            .headCounter h2 { counter-reset: none!important; counter-increment: none!important; }
            .headCounter h3:before { content: ''!important; padding-right: 0px!important; }
            .headCounter h3 { counter-reset: none!important; counter-increment: none!important; }
            .headCounter h4:before { content: ''!important; padding-right: 0px!important; }
            .headCounter h4 { counter-increment: none!important; }
        </style>
    {%- endif -%}

    <script type="text/javascript" src="{{assetsPath}}/lib/mermaid/dist/mermaid.min.js"></script>
    <script type="text/javascript" src="{{ site.assets }}js/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="{{ site.assets }}js/bootstrap.min.js"></script>
    <script src="{{ assetsPath }}/js/util.min.js"></script>
    <script src="{{ assetsPath }}/js/site.min.js"></script>
    <script src="{{ assetsPath }}/js/header.min.js"></script>
    <script type="text/javascript" src="{{ site.assets }}js/ds-jquery-bs.min.js"></script>

    {%- if site.useVersionTreeV2 -%}
    <script type="text/javascript" src="{{ assetsPath }}/js/docs/index-banner-two.min.js?v={{ 'now' | date: "%s"}}"></script>
    <script type="text/javascript" src="{{ assetsPath }}/js/docs/historymanage-two.min.js?v={{ 'now' | date: "%s"}}"></script>
    {%- else -%}
    <script type="text/javascript" src="{{ site.assets }}js/docsLangLatestVersion.js?v={{ 'now' | date: "%s"}}"></script>
    <script type="text/javascript" src="{{ assetsPath }}/js/docs/index-banner.min.js?v={{ 'now' | date: "%s"}}"></script>
    <script type="text/javascript" src="{{ assetsPath }}/js/docs/historymanage.min.js?v={{ 'now' | date: "%s"}}"></script>
    {%- endif -%}

    <script type="text/javascript" src="{{ assetsPath }}/js/docs/layout.min.js?v={{ 'now' | date: "%s"}}"></script>
    <script type="text/javascript" src="{{ site.assets }}js/anchor.min.js"></script>

    {%- if page.hasCustomLdJson -%}
        {{page.customLdJsonScript}}
    {%- endif -%}

    {%- if page.codeAutoHeight -%}
    <style id="CodeAutoHeight">
        .markdown-body .sample-code-prefix+blockquote ol li pre.highlight {
            max-height: unset;
        }
        .markdown-body .sample-code-prefix.template2 + blockquote > div pre.highlight {
            max-height: unset;
        }
    </style>
    {%- endif -%}

    {%- if page.url contains '/search.html' -%}
    <style>
        #BarcodeReader, #WebTwain, #DocumentNormalizer, #CameraEnhancer, .subHeadWrapper { position: sticky; top: 0; z-index: 111; border-bottom: 0;}
        .productMenu { position: static!important; }
    </style>
    {%- endif -%}
</head>
