<a href="javascript:void(0)" id="toTop"></a>
<div class="footerBottomCnt">
    <div class="docs-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer__inner">
                        <div class="footer__item">
                            <p>Use Cases</p>
                            <ul class="products">
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/use-cases/driver-license/">Driver's License</a>
                                </li>
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/use-cases/mobile-web-capture-sdk/">Mobile Web Capture</a>
                                </li>
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/use-cases/mrz-scanner/">MRZ Scanner</a>
                                </li>
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/panorama/batch-barcode-scanning/">Batch Barcode Scan</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer__item">
                            <p>Resources</p>
                            <ul class="resources">
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/barcode-dataset/">Barcode Dataset</a>
                                </li>
                                <li>
                                    <a class="whiteLink" target="_blank" href="https://www.dynamsoft.com/Documents/barcode-test-sheet.pdf">Barcode Test Sheet</a>
                                </li>
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/barcode-reader/barcode-types/">Barcode Types</a>
                                </li>
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/docs/">Docs Center</a>
                                </li>
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/codepool/">Developer Blog</a>
                                </li>
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/company/license-agreement/">License Agreements</a>
                                </li>
                                <li>
                                    <a class="whiteLink" target="_blank" href="https://www.dynamsoft.com/Products/Dynamsoft_Security_Whitepaper.pdf">Security White Paper</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer__item">
                            <p>Free Tools</p>
                            <ul class="tools">
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/tools/barcode-generator/">Barcode Generator</a>
                                </li>
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/tools/mrz-generator/">MRZ Calculator</a>
                                </li>
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/tools/upc-barcode-lookup/">UPC Lookup</a>
                                </li>
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/demos/pdf-to-image-converter/">Image PDF Converter</a>
                                </li>
                                <li>
                                    <a class="orangeLink fontOswald" href="https://www.dynamsoft.com/tools/">All Tools &gt;</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer__item">
                            <p>Company</p>
                            <ul class="company">
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/company/about/">About Us</a>
                                </li>
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/blog/">Company Blog</a>
                                </li>
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/company/policies/">Policies</a>
                                </li>
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/partner/resellers/">Buy from a Reseller</a>
                                </li>
                                <li>
                                    <a class="whiteLink" href="https://www.dynamsoft.com/company/careers/">Careers</a>
                                </li>
                                <li>
                                    <a class="whiteLink" id="emailSubscription" href="https://www.dynamsoft.com/subscription/?email=">Email Subscription</a>
                                </li>
                                <li>
                                    <a class="orangeLink fontOswald" href="https://www.dynamsoft.com/contact/">Contact Us &gt;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footerBottom">
        <div class="container">
            <div class="row">
                <div class="ct-lt hidden-xs col-sm-4">
                    <a class="ds-white" href="https://www.dynamsoft.com"></a>
                </div>
                <div class="ct-ct col-xs-12 col-sm-8">
                    <span class="sm-mr10"
                        >© 2003–{{ 'now' | date: '%Y' }} Dynamsoft. All rights reserved.</span
                    ><br class="visible-xs" />
                    <a href="https://www.dynamsoft.com/privacy-statement/"
                        >Privacy Statement</a
                    >&nbsp;/&nbsp;<a
                        href="https://www.dynamsoft.com/sitemap/"
                        >Site Map</a
                    ><span class="visible-lg">
                        / <a href="https://www.dynamsoft.com/">Home</a> /
                        <a
                            href="https://www.dynamsoft.com/purchase-center/"
                            >Purchase</a
                        >
                        /
                        <a href="https://www.dynamsoft.com/contact/"
                            >Support</a
                        >
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
