{%- if site.firstLevelUrl contains 'web-twain' -%}
  {%- include dwtNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'barcode-reader' -%}
  {%- include dbrNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'document-normalizer' -%}
  {%- include ddnNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'label-recognition' -%}
  {%- include dlrNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'capture-vision' -%}
  {%- include dcvNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'camera-enhancer' -%}
  {%- include dceNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'document-viewer' -%}
  {%- include ddvNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'code-parser' -%}
  {%- include dcpNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'mobile-web-capture' -%}
  {%- include mwcNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'company/docs' -%}
  {%- include companyNav.html -%}
{%- endif -%}