{%- if site.firstLevelUrl contains 'web-twain' -%}
  {%- include productNav/dwtNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'barcode-reader' -%}
  {%- include productNav/dbrNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'document-normalizer' -%}
  {%- include productNav/ddnNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'label-recognition' -%}
  {%- include productNav/dlrNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'capture-vision' -%}
  {%- include productNav/dcvNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'camera-enhancer' -%}
  {%- include productNav/dceNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'document-viewer' -%}
  {%- include productNav/ddvNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'code-parser' -%}
  {%- include productNav/dcpNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'mobile-web-capture' -%}
  {%- include productNav/mwcNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'company/docs' -%}
  {%- include productNav/companyNav.html -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'mrz-scanner/docs' -%}
  {%- include productNav/mrzNav.html -%}
{%- endif -%}