<div class="subHeadWrapper">
  <div class="subHeader container">
      <div class="row">
          <ul class="subHeaderMenuUl col-xs-12 clearfix">
              <li class="title"><a class="f18 fontOswald" href="{{ site.docHomePage }}">Dynamsoft <span class="fc9">|</span> Documentation</a></li>
              <li class="on"><a class="orangelink" href = "{{ site.customer-portal }}index.html">Customer Portal</a></li>
          </ul>
      </div>
      <div class="row mobileSubHeaderMenu">
          <ul class="col-xs-12 show-xs">
              <li><a class="orangelink" href = "{{ site.docHomePage }}">Documentation</a></li>
          </ul>
      </div>
  </div>
</div>