<div id="BarcodeReader" class="main">
    <div id="BarcodeReaderMenu" class="productMenu">
        <div class="container pcProductMenu">
            <div class="row">
                <div class="col-12">
                  <ul class="breadcrumb menu-breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="/products/">Products</a></li>
                    <li class="breadcrumb-item overview"><a href="/barcode-reader/overview/">Dynamsoft Barcode Reader</a></li>
                    <li class="breadcrumb-item active"><a href="/barcode-reader/docs/core/">Docs & Samples</a></li>
                  </ul>
                  <div class="right-menu fr">
                    {%- include search-input.html -%}
                    <div class="trialAndPricing">
                      <a href="https://www.dynamsoft.com/barcode-reader/downloads/" class="downloadBtn orangeBorder" style="margin-right: 10px;">Download <span class="hide-xl">30-Day Trial</span></a>
                      <a class="downloadBtn" href="https://www.dynamsoft.com/store/dynamsoft-barcode-reader/">GetPricing</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="container mobileProductMenu">
            <div class="row">
                <div class="col-12">
                    <div class="productLogo"><i class="dbr-logo"></i> <i class="icon-orange-angle"></i></div>
                </div>
            </div>
        </div>
        <div class="mobileProductDetailMenu">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="menuList">
                            <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/overview/">Overview</a></li>
                            <li class="item features">
                                <a class="textUpperCase" href="https://www.dynamsoft.com/barcode-reader/features/">Features</a>
                            </li>
                            <li class="item">
                                <span class="showMenuMore textUpperCase">Languages <i class="icon-orange-angle"></i></span>
                                <ul class="ct-more" style="display: none">
                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/sdk-javascript/">JavaScript Web SDK<div>JS/WebAssembly</div></a></li>
                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/sdk-desktop-server/">Desktop/Server SDK<div>C/C++, .NET, Java, Python</div></a></li>
                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/sdk-mobile/">Android/iOS SDK<div>Java, Kotlin, Objective-C, Swift</div></a></li>
                                </ul>
                            </li>
                            <li class="item resources">
                                <span class="showMenuMore textUpperCase">Dev Center  <i class="icon-orange-angle"></i></span>
                                <ul class="ct-more" style="display: none">
                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/docs/core/introduction/">Documentation</a></li>
                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/resources/code-gallery/">Code Gallery</a></li>
                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/docs/core/release-notes/">Release Notes</a></li>
                                    <li class="item"><a class="all-resources f16 mt20 orangeLink" href="https://www.dynamsoft.com/barcode-reader/resources/">See All resources ></a></li>
                                </ul>
                            </li>
                            <li class="item textUpperCase"><a id="DBRBuyBtn" href="https://www.dynamsoft.com/store/dynamsoft-barcode-reader/">Buy</a></li>
                            <li class="item textUpperCase"><a class="orangeLink" href="https://www.dynamsoft.com/barcode-reader/downloads/">30-day free trial</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>