<div id="CameraEnhancer" class="main">
  <div id="CameraEnhancerMenu" class="productMenu">
      <div class="container pcProductMenu">
          <div class="row">
              <div class="col-12">
                <ul class="breadcrumb menu-breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="/products/">Products</a></li>
                  <li class="breadcrumb-item overview"><a href="{{site.overview}}">Dynamsoft Camera Enhancer</a></li>
                  <li class="breadcrumb-item active"><a href="{{site.docHomePage}}">Docs</a></li>
                </ul>
              </div>
          </div>
      </div>
      <div class="container mobileProductMenu">
          <div class="row">
              <div class="col-12">
                  <div class="productLogo"><i class="dce-logo"></i> <i class="icon-orange-angle"></i></div>
                  <div id="dceCurrentPage" class="fontOswald fr currentPage">Resource Base</div>
              </div>
          </div>
      </div>
      <div class="mobileProductDetailMenu">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <ul class="menuList">
                          <li class="item"><a href="{{site.overview}}">Overview</a></li>
                          <li class="item">
                              <span class="showMenuMore textUpperCase">Features  <i class="icon-orange-angle"></i></span>
                          </li>
                          <li class="item resources">
                              <span class="showMenuMore textUpperCase">Resource Base  <i class="icon-orange-angle"></i></span>
                              <ul class="ct-more" style="display: none">
                                  <li class="item"><a href="{{site.overview}}">Overview</a></li>
                                  <li class="item"><a href="{{site.all-release-note}}">Release Notes</a></li>
                                  <li class="item"><a href="{{site.frontPageFolder}}">Documentation</a></li>
                              </ul>
                          </li>
                          
                          <li class="item textUpperCase"><a class="orangeLink" href="{{site.overview}}">Free trial</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>