<div id="DocumentNormalizer" class="main">
  <div id="DocumentNormalizerMenu" class="productMenu">
      <div class="container pcProductMenu">
          <div class="row">
              <div class="col-12">
                <ul class="breadcrumb menu-breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="/products/">Products</a></li>
                  <li class="breadcrumb-item overview"><a href="{{site.docHomePage}}">Dynamsoft Document Normalizer</a></li>
                  <li class="breadcrumb-item active"><a href="{{site.docHomePage}}">Docs</a></li>
                </ul>
              </div>
          </div>
      </div>
      <div class="container mobileProductMenu">
          <div class="row">
              <div class="col-12">
                  <div class="productLogo"><i class="ddn-logo"></i> <i class="icon-orange-angle"></i></div>
              </div>
          </div>
      </div>
      <div class="mobileProductDetailMenu">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <ul class="menuList">
                          <li class="item">
                              <a class="textUpperCase" href="{{site.docHomePage}}">Documentation</a>
                          </li>
                          <li class="item">
                              <a class="textUpperCase" href="https://www.dynamsoft.com/document-normalizer/ask-for-quote/">Get Pricing</a>
                          </li>
                          <li class="item">
                              <a class="textUpperCase" href="{{site.download}}">Free Trial</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>