<div id="LabelRecognizer" class="main">
  <div id="LabelRecognizerMenu" class="productMenu">
      <div class="container pcProductMenu">
          <div class="row">
              <div class="col-12">
                <ul class="breadcrumb menu-breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="/products/">Products</a></li>
                  <li class="breadcrumb-item overview"><a href="/label-recognition/overview">Dynamsoft Label Recognizer</a></li>
                  <li class="breadcrumb-item active"><a href="{{site.docHomePage}}">Docs</a></li>
                </ul>
              </div>
          </div>
      </div>
      <div class="container mobileProductMenu">
          <div class="row">
              <div class="col-12">
                  <div class="productLogo"><i class="dlr-logo"></i> <i class="icon-orange-angle"></i></div>
                  <div id="dlrCurrentPage" class="fontOswald fr currentPage">Documentation</div>
              </div>
          </div>
      </div>
      <div class="mobileProductDetailMenu">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <ul class="menuList">
                          <li class="item">
                              <a class="textUpperCase" href="https://www.dynamsoft.com/label-recognition/overview">Overview</a>
                          </li>
                          <li class="item">
                              <a class="textUpperCase" href="https://www.dynamsoft.com/label-recognition/features">Features</a>
                          </li>
                          <li class="item">

                              <a class="textUpperCase" href="https://www.dynamsoft.com/label-recognition/use-cases">Use Cases</a>
                          </li>
                          <li class="item">
                              <span class="showMenuMore textUpperCase">Dev Center  <i class="icon-orange-angle"></i></span>
                              <ul class="ct-more" style="display: none">
                                  <li class="item"><a href="https://www.dynamsoft.com/label-recognition/introduction/">Documentation</a></li>
                                  <li class="item"><a href="https://www.dynamsoft.com/label-recognition/code-gallery/">Code Gallery</a></li>
                                  <li class="item"><a href="https://www.dynamsoft.com/label-recognition/release-notes/?ver=latest">Release Notes</a></li>
                              </ul>
                          </li>
                          <li class="item">
                              <a class="orangeLink textUpperCase" href="https://www.dynamsoft.com/survey/dlr/">Download Free Trial</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>