<div id="WebTwain" class="main">
  <div id="WebTwainMenu" class="productMenu">
    <div class="container pcProductMenu">
      <div class="row">
        <div class="col-12">
          <ul class="breadcrumb menu-breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item"><a href="/products/">Products</a></li>
            <li class="breadcrumb-item overview"><a href="/web-twain/overview/">Dynamic Web TWAIN</a></li>
            <li class="breadcrumb-item active"><a href="/web-twain/docs/introduction/index.html">Docs & Samples</a></li>
          </ul>
          <div class="right-menu fr">
            {%- include search-input.html -%}
            <div class="trialAndPricing">
              <a href="https://www.dynamsoft.com/web-twain/downloads/" class="downloadBtn orangeBorder"
                style="margin-right: 10px;" id="DWTDownloadTrialBtn">Download <span class="hide-xl">30-Day
                  Trial</span></a>
              <a class="downloadBtn" id="DWTQuoteBtn" href="https://www.dynamsoft.com/store/dynamic-web-twain/">Get
                Pricing</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mobileProductMenu">
      <div class="row">
        <div class="col-12">
          <div class="productLogo"><i class="dwt-white-logo"></i> <i class="icon-orange-angle"></i></div>
        </div>
      </div>
    </div>
    <div class="mobileProductDetailMenu">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul class="menuList">
              <li class="item">
                <a class="textUpperCase" href="https://www.dynamsoft.com/web-twain/overview">Overview</a>
              </li>
              <li class="item">
                <a class="textUpperCase" href="https://www.dynamsoft.com/web-twain/features">Features</a>
              </li>
              <li class="item">
                <span class="showMenuMore textUpperCase">Add-ons <i class="icon-orange-angle"></i></span>
                <ul class="ct-more" style="display: none;">
                  <li class="item">
                    <a href="https://www.dynamsoft.com/web-twain/pdf-to-image-javascript/">PDF Rasterizer</a>
                  </li>
                  <li class="item">
                    <a href="https://www.dynamsoft.com/web-twain/barcode-recognition-document/">Barcode Recognition</a>
                  </li>
                  <li class="item">
                    <a href="https://www.dynamsoft.com/remote-scan/docs/introduction/">Remote Scan</a>
                  </li>
                  <li class="item">
                    <a class="webcam" href="https://www.dynamsoft.com/web-twain/webcam-sdk-features/">Webcam</a>
                  </li>
                </ul>
              </li>
              <li class="item">
                <a class="textUpperCase" href="https://www.dynamsoft.com/web-twain/resources/">Resources</a>
              </li>
              <li class="item">
                <a class="orangeLink textUpperCase" href="https://www.dynamsoft.com/store/dynamic-web-twain/">Get
                  Pricing</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>