<!DOCTYPE html>
<html lang="en-US">

{%- include head.html -%}

<body>
    {%- include page_header.html -%}
    
    <div class="markdown-body homepageContainer container">
        <div class="row">
            <div class="col-xs-12">
                {% assign productNameClass = '' %}
                {%- if site.firstLevelUrl contains 'barcode-reader/docs/server' -%}
                    {% assign productNameClass = 'dbr-server' %}
                {%- endif -%}
                <div class="content {{productNameClass}}">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
    <div id="footerWrapper">
        {%- include page_footer.html -%}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
        integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>

</body>

</html>
