<!DOCTYPE html>
<html lang="en-US">

{%- include head.html -%}

{%- assign cx = page.cx -%}
{%- if site.firstLevelUrl contains 'barcode-reader' -%}
{%- assign cx = '32039cdf85bc7ae2b' -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'document-normalizer' -%}
{%- assign cx = '90b37820e9a5e454e' -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'label-recognition' -%}
{%- assign cx = '53a201f66061dfc84' -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'capture-vision' -%}
{%- assign cx = 'b5ca9ca31b6a640a2' -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'camera-enhancer' -%}
{%- assign cx = '90b37820e9a5e454e' -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'document-viewer' -%}
{%- assign cx = 'f23c4a8497eb34b71' -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'code-parser' -%}
{%- assign cx = '53a201f66061dfc84' -%}
{%- endif -%}
{%- if site.firstLevelUrl contains 'mobile-web-capture' -%}
{%- assign cx = '912cbb35fff874a8d' -%}
{%- endif -%}

<body>
  {%- include page_header.html -%}

  {%- include productNav.html -%}
  <div class="sideBarIcon"><i class="fa fa-list" style="margin-right: 5px;"></i> Table of contents</div>
  <div class="container" id="searchContent">
    <div class="row">
      <div class="docContainer col-xs-12" style="border-left: 0;">
        <div class="main row">
          <div id="searchResult" class="container pt40 pb60 sm-pt50">
            <div class="row">
              <div class="col-xs-12">
                <h1>Search</h1>
                <script async src="https://cse.google.com/cse.js?cx={{cx}}"></script>
                <div class="gcse-search"></div>
              </div>
            </div>
          </div>
          <div class="content markdown-body headCounter col-xs-12" style="min-height: unset;">
            {{ content }}

          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footerWrapper">
    {%- include page_footer.html -%}
  </div>

  <script type="text/javascript">
    var product = getCurrentUrlProductName(document.URL)
    if (product == "dcv") {
      mutationObserverFuncForSearch()
    }

    $('#sideBarCnt').css({ 'width': $('.sideBar').width() + 'px' })
    $('.container .head').css({ 'width': $('.docContainer').width() + 'px' })

    $(window).resize(function () {
      $('#sideBarCnt').css({ 'width': $('.sideBar').width() + 'px' })
      $('.container .head').css({ 'width': $('.docContainer').width() + 'px' })
      realFunc()
    })

    window.addEventListener('scroll', realFunc);

    function realFunc() {
      if (breakpoint() == 'lg') {
        var sd = $(window).scrollTop();
        if (sd > $('#dynamsoft-header').height()) {
          // head and sidebar fixed
          if ($('.subHeadWrapper').length > 0) {
            $('.subHeadWrapper').css({ 'top': '0px' });
          } else if ($('.productMenu').length > 0) {
            $('.productMenu').css({ 'top': '0px' });
          }
        } else {
          // head and sidebar fixed
          if ($('.subHeadWrapper').length > 0) {
            $('.subHeadWrapper').css({ 'top': ($('#dynamsoft-header').height() - sd) + 'px' });
          } else if ($('.productMenu').length > 0) {
            $('.productMenu').css({ 'top': ($('#dynamsoft-header').height() - sd) + 'px' });
          }
        }
      } else {
        $('.subHeadWrapper').css({ 'top': 'unset' });
        $('.productMenu').css({ 'top': 'unset' });
      }
    }

    function changeGSCUrl() {
      var product = getCurrentUrlProductName(document.URL)
      var lang = getCurrentUrlLang(document.URL, true)
      var results = $(".gsc-results .gs-result")

      for (var i = 0; i < results.length; i++) {
        var aTag = $(results[i]).find("a.gs-title")
        var aCtorig = $(aTag).attr("data-ctorig")

        if (aCtorig && !getUrlVars(aCtorig)["product"] && !getUrlVars(aCtorig)["lang"]) {
          var aCtorig_product = getCurrentUrlProductName(aCtorig)
          var aCtorig_lang = getCurrentUrlLang(aCtorig, true)
          var replaceOrig = aCtorig
          if (aCtorig_product != product && (product == "dcv" || product == "dbr")) {
            if (aCtorig_product == "dbr" || aCtorig_product == "dcv") {
              replaceOrig += ("?product=" + product + "&lang=" + lang)
            }
          } else {
            if (lang != aCtorig_lang) {
              replaceOrig += ("?lang=" + lang)
            }
          }

          if (replaceOrig != aCtorig) {
            $(results[i]).find(".gs-per-result-labels").attr("url", replaceOrig)
            $(aTag).attr("href", replaceOrig)
            $(aTag).attr("data-cturl", replaceOrig)
            $(aTag).attr("data-ctorig", replaceOrig)
            $(aTag).addClass("modified")
          }
        }
      }
    }

    function mutationObserverFuncForSearch() {
      var ref = getUrlVars(document.URL)["ref"]
      var MutationObserver = window.MutationObserver || window.WebKitMutationObserver || window.MozMutationObserver;
      var mo = new MutationObserver(function (records) {
        records.forEach(function (record) {
          var obj = record.addedNodes[0]
          var className = $(obj).attr("class")
          if (className && className.indexOf("gsc-result") >= 0) {
            if (ref) {
              var refinemenths = $(".gsc-refinementHeader")
              for (var i = 0; i < refinemenths.length; i++) {
                var refItem = refinemenths[i]
                var refText = $(refItem).find("span").text().toLowerCase()
                if (!$(refItem).hasClass("gsc-refinementhActive") && refText == ref.toLowerCase()) {
                  $(refItem).click()
                }
              }
            }
            changeGSCUrl()
          }
        })
      });

      mo.observe(document.body, {
        childList: true,
        subtree: true
      });
    }
  </script>
  {%- include livehelp.html -%}
</body>

</html>